config SHIELD_LINKUP_DONGLE
	def_bool $(shields_list_contains,slicemk_linkup_dongle)

config SHIELD_LINKUP_LEFTCENTRAL
	def_bool $(shields_list_contains,slicemk_linkup_leftcentral)

config SHIELD_LINKUP_RIGHTCENTRAL
	def_bool $(shields_list_contains,slicemk_linkup_rightcentral)

config SHIELD_LINKUP_LEFTSINGLE
	def_bool $(shields_list_contains,slicemk_linkup_leftsingle)

config SHIELD_LINKUP_RIGHTSINGLE
	def_bool $(shields_list_contains,slicemk_linkup_rightsingle)
