if SHIELD_LINKUP_DONGLE || SHIELD_LINKUP_LEFTCENTRAL || SHIELD_LINKUP_LEFT || SHIELD_LINKUP_RIGHTCENTRAL || SHIELD_LINKUP_RIGHT || SHIELD_LINKUP_XTRACENTRAL || SHIELD_LINKUP_XTRA

config ZMK_BLE
	default y

config ZMK_SPLIT
	default y

config ZMK_KEYBOARD_NAME
	default "Link-Up Board"

endif

if SHIELD_LINKUP_DONGLE || SHIELD_LINKUP_LEFTCENTRAL || SHIELD_LINKUP_RIGHTCENTRAL || SHIELD_LINKUP_XTRACENTRAL

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif

if SHIELD_LINKUP_DONGLE 

config ZMK_USB
	default y

endif