if SHIELD_LINKUP_DONGLE || SHIELD_LINKUP_LEFTCENTRAL || SHIELD_LINKUP_LEFTSINGLE || SHIELD_LINKUP_RIGHTCENTRAL || SHIELD_LINKUP_RIGHTSINGLE || SHIELD_LINKUP_XCENTRAL || SHIELD_LINKUP_XSINGLE

config ZMK_BLE
	default y

config ZMK_USB
	default y

config ZMK_KEYBOARD_NAME
	default "Link-Up Board"

endif

if SHIELD_LINKUP_DONGLE || SHIELD_LINKUP_LEFTCENTRAL || SHIELD_LINKUP_RIGHTCENTRAL

config ZMK_SPLIT
	default y

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif
