config SHIELD_LINKUP_DONGLE
	def_bool $(shields_list_contains,linkup_dongle)

config SHIELD_LINKUP_LEFTCENTRAL
	def_bool $(shields_list_contains,linkup_leftcentral)

config SHIELD_LINKUP_RIGHTCENTRAL
	def_bool $(shields_list_contains,linkup_rightcentral)

config SHIELD_LINKUP_XTRACENTRAL
	def_bool $(shields_list_contains,linkup_rightcentral)

config SHIELD_LINKUP_LEFT
	def_bool $(shields_list_contains,linkup_left)

config SHIELD_LINKUP_RIGHT
	def_bool $(shields_list_contains,linkup_right)

config SHIELD_LINKUP_XTRA
	def_bool $(shields_list_contains,linkup_xtra)
	
config SHIELD_LINKUP_TEST
	def_bool $(shields_list_contains,linkup_test)
